body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
}

nav {
  height: 10em;
}

input[type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.item img {
  height: 600px;
  margin-top: -2em;
}

.item {
  display: none;
}

.navigation .prev:hover {
  cursor: pointer;
}

.navigation .next:hover {
  cursor: pointer;
}
.navigation .nav-btn:hover {
  background: white;
}

.navigation {
  padding-right: 10em;
}

.quote-text {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  background-color: black;
  height: 150px;
  margin: -2.5em;
  position: absolute;
}

.carousel-container {
  position: relative;
}

.event-container {
  margin-top: 3em !important;
}

.event-item {
  height: 320px;
  margin: 2em 0;
}
li {
  list-style-type: none;
}
.main {
  display: block;
}

.event-item-info {
  text-align: justify;
  padding: 2em;
  height: 340px;
  margin-right: 2em;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 2em;
}
.tabs:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar-collapse {
    position: fixed;
    top: 230px;
    right: 0;
    padding-left: 3em;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }

  .event-item-info {
    height: 200px;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 0.9em;
  }

  .navbar-collapse {
    position: fixed;
    top: 110px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 200;
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}
